<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stle.css">
</head>

<body>
    <main>
        <div class="container">
            <h1>TODO APP</h1>
            <form action="/api/v1/todo" method="post">
                <input type="text" name="todoName" placeholder="enter todo name">
                <button type="submit">Create</button>
            </form>
        </div>
        <div class="list">
            <table>
                <tr>
                    <th>TODO</th>
                    <th>STATUS</th>
                    <th>DELETE</th>
                </tr>
                <% todos.forEach(todo=> { %>
                    <tr>
                        <td>
                            <%= todo.todoName %>
                        </td>
                        <td>
                            <form action="/api/v1/todo/<%= todo._id%>?_method=PUT" method="post">
                                <input type="hidden" name="isCompleted" value=<%= !(todo.isCompleted) %>>
                                <% if (todo.isCompleted){%> 
                                  <button type="submit">Completed</button>
                                <% }else {%>
                                    <button type="submit">Not Completed</button>
                                <% } %> 
                            </form>
                        </td>
                        <td>
                            <form action="/api/v1/todo/<%= todo._id%>?_method=DELETE" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>

                    <% }); %>

            </table>
        </div>

    </main>
</body>

</html>