* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* outline: 5px solid green; */

}

body main {
    width: 100%;
    margin: 0 auto;

}

main .container h1 {
    text-align: center;
    margin: 1em 0;
}

main .container form {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.container form input {
    flex: 3;
    padding: 1em;
    border-radius: 8px;
}

.container form input:focus {
    outline: none;
}

.container form button {
    flex: 1;
    padding: 1em;
    background-color: transparent;
    border-color: transparent;
    border: 2px solid steelblue;
    border-radius: 8px;
    cursor: pointer;
}

.container form button i {
    font-size: larger;
    color: steelblue;

}

main .list {
    margin-top: 1em;
    text-align: center;
}

main table {
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

table tr th {
    height: 75px;
    border-bottom: 1px solid #ddd;
    background-color: steelblue;
    color: white;
}

table tr td {
    padding: 1em;
}

table tr td button {
    background: transparent;
    border: transparent;
    padding: 1em;
    border: 1px solid #ddd;
    cursor: pointer;

}

table tr td button i {
    font-size: x-large;

}


main .form-container {
    width: 350px;
    margin: 0 auto;
    margin-top: 5em;
}

main .form-container h1 {
    text-align: center;
    margin-bottom: 1em;
}

main .form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .form-container form input {
    padding: 1em;
}

main .form-container form button {
    padding: 1em;
}